<div class="row justify-content-md-center h1container">
    <h1>Edit Car</h1>
  </div>
<div class="container-component">  
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">Brand:</th>
        <td>{{car.brand}}</td>
      </tr>
      <tr>
        <th scope="row">Model:</th>
        <td>{{car.model}}</td>
      </tr>
      <tr>
        <th scope="row">Year:</th>
        <td>{{car.year}}</td>
      </tr>
      <tr>
        <th scope="row">Color:</th>
        <td>{{car.color}}</td>
      </tr>
      <tr>
        <th scope="row">Body type:</th>
        <td>{{car.bodyType}}</td>
      </tr>
      <tr>
        <th scope="row">Mileage:</th>
        <td>{{car.mileage}}</td>
      </tr>
      <tr>
        <th scope="row">Status:</th>
        <td>{{car.status}}</td>
      </tr>
      <tr>
        <th scope="row">Cost:</th>
        <td>{{car.cost}}</td>
      </tr>
      <tr>
        <th scope="row">Department Address:</th>
        <td>{{car.department.address}}</td>
      </tr> 
      <tr>
        <th scope="row">Office name:</th>
        <td>{{car.department.rentalOffice.name}}</td>
      </tr>       
      <tr>
        <th scope="row">Kontakt:</th>
        <td>{{car.department.rentalOffice.contactNumber}}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;"><button class="btn btn-primary">Edit</button> | <button class="btn btn-danger">Delete</button></td>
      </tr>                       
    </tbody>
  </table>
</div>
  